<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="rac.Properties.Settings.FlowersShopConnectionString"
            connectionString="Data Source=DESKTOP-2FG0HF9;Initial Catalog=FlowersShop;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="rac.Properties.Settings.FlowersShopConnectionString1"
            connectionString="Data Source=DESKTOP-JLJ2TBG;Initial Catalog=FlowersShop;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>